
__pycache__/
*.py[cod]
*.npy
*.log
/results/
idinvert/examples
.DS_Store
.idea/
venv/
trainedModels/
examples/
pytorch_implementation/img_syn_stylegan
pytorch_implementation/pretrained_models/stylegan_ffhq256.pth
pytorch_implementation/pretrained_models/styleganinv_ffhq256_encoder.pth
pytorch_implementation/pretrained_models/styleganinv_ffhq256_generator.pth
pytorch_implementation/pretrained_models/vgg16.pth
pytorch_implementation/idinvert_pytorch/examples
pytorch_implementation/tf_to_pytorch/weights
pytorch_implementation/tf_to_pytorch/dnnlib
/cnn_detection/weights/blur_jpg_prob0.1.pth
/cnn_detection/weights/blur_jpg_prob0.5.pth
/genforce/weights/blur_jpg_prob0.1.pth
/genforce/weights/blur_jpg_prob0.5.pth

