__pycache__/
*.py[cod]
*.npy
*.log
/results/
idinvert/examples
.DS_Store
.idea/
venv/
trainedModels/
examples/
pytorch_implementation/created_Images
pytorch_implementation/pretrained_models
pytorch_implementation/pretrained_models/stylegan_ffhq256.pth
pytorch_implementation/pretrained_models/styleganinv_ffhq256_encoder.pth
pytorch_implementation/pretrained_models/styleganinv_ffhq256_generator.pth
pytorch_implementation/pretrained_models/vgg16.pth
pytorch_implementation/idinvert_pytorch/examples
