[submodule "CNNDetection"]
	path = CNNDetection
	url = https://github.com/jholzem/CNNDetection.git
[submodule "genforce"]
	path = genforce
	url = https://github.com/maximilianschaller/genforce
[submodule "idinvert"]
	path = idinvert
	url = https://github.com/maximilianschaller/idinvert
